<?xml version="1.0" encoding="UTF-8"?>
<config>
    <input_dir folderDirectory="Python_project_files\Input_files">
        <country_config_csv>Python_project_files\Input_files\CSV_files\CountryConfig.csv</country_config_csv>
        <country_list>Python_project_files\Input_files\CSV_files\CountryList.csv</country_list>
        <site_list_csv>Python_project_files\Input_files\CSV_files\ListOfSites.csv</site_list_csv>
        <all_countries_json>Python_project_files\Input_files\JSON_files\GetAllCountries.json</all_countries_json>
        <quiz_json>Python_project_files\Input_files\JSON_files\quiz.json</quiz_json>
        <cd_catalog_xml>Python_project_files\Input_files\XML_files\cd_catalog.xml</cd_catalog_xml>
        <breakfast_menu_xml>Python_project_files\Input_files\XML_files\breakfast_menu.xml</breakfast_menu_xml>
        <sun_and_moon_jpg>Python_project_files\Input_files\OTHER_files\sun_and_moon.jpg</sun_and_moon_jpg>
    </input_dir>
    <output_dir folderDirectory="Python_project_files\Output_files">
        <output_country_config_copy>Python_project_files\Output_files\CSV_files\CountryConfig_copy.csv</output_country_config_copy>
        <output_country_conf_col_copy>Python_project_files\Output_files\CSV_files\CountryConfig_columns_copy.csv</output_country_conf_col_copy>
        <output_country_list_csv>Python_project_files\Output_files\CSV_files\CountryList.csv</output_country_list_csv>
        <output_other_file>Python_project_files\Output_files\OTHER_files\sun_and_moon_copy.jpg</output_other_file>
        <output_xml_file>Python_project_files\Output_files\XML_files\output_xml_file.xml</output_xml_file>
        <output_json_folder>Python_project_files\Output_files\JSON_files</output_json_folder>
    </output_dir>
</config>